In [1]:
from CensusAPI_ClassV01_2 import APIWrapper

C:\Users\Cusse\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
api = APIWrapper(logger=False)

api.get_areas_by_pop_type('UR')

{'England and Wales': 'nat',
 'Countries': 'ctry',
 'Regions': 'rgn',
 'Local enterprise partnerships': 'lep',
 'NHS England regions': 'nhser',
 'Local health boards': 'lhb',
 'Integrated care boards': 'icb',
 'Sub integrated care board locations': 'sicbl',
 '2023 Upper tier local authorities': 'utla23',
 'Upper tier local authorities': 'utla',
 '2023 Lower tier local authorities': 'ltla23',
 'Lower tier local authorities': 'ltla',
 'Senedd constituencies': 'senc',
 'Westminster Parliamentary constituencies': 'wpc',
 'Electoral wards and divisions': 'wd',
 'Middle layer Super Output Areas': 'msoa',
 'Lower layer Super Output Areas': 'lsoa',
 'Output Areas': 'oa'}

In [3]:
api.get_dims_by_pop_type('UR')

{'Economic activity status last week (8 categories)': 'activity_last_week',
 'Age of arrival in the UK (23 categories)': 'age_arrival_uk_23a',
 'Second address indicator (3 categories)': 'alternative_address_indicator',
 'Country of birth (extended) (190 categories)': 'country_of_birth_190a',
 'Country of birth (60 categories)': 'country_of_birth_60a',
 'Disability (5 categories)': 'disability',
 'Economic activity status (12 categories)': 'economic_activity_status_12a',
 'Proficiency in English language (6 categories)': 'english_proficiency',
 'Ethnic group (20 categories)': 'ethnic_group_tb_20b',
 'Employment history (4 categories)': 'has_ever_worked',
 'General health (6 categories)': 'health_in_general',
 'Highest level of qualification (8 categories)': 'highest_qualification',
 'Hours worked (5 categories)': 'hours_per_week_worked',
 'Industry (current) (88 categories)': 'industry_current_88a',
 'Industry (former) (17 categories)': 'industry_former_17a',
 'Unpaid care (7 categories)': 'is_carer',
 'Marital and civil partnership status (12 categories)': 'legal_partnership_status',
 'Living arrangements (11 categories)': 'living_arrangements_11a',
 'Main language (23 categories)': 'main_language_23a',
 'Main language (detailed) (26 categories)': 'main_language_detailed_26a',
 'Migrant indicator (5 categories)': 'migrant_ind',
 'Multiple passports held (24 categories)': 'multi_passports',
 'National identity (17 categories)': 'national_identity_all',
 'National identity (detailed) (73 categories)': 'national_identity_detailed',
 'National Statistics Socio-economic Classification (NS-SeC) (17 categories)': 'ns_sec',
 'Occupation (current) (105 categories)': 'occupation_current_105a',
 'Occupation (former) (11 categories)': 'occupation_former',
 'Passports held (52 categories)': 'passports_all_52a',
 'Place of work indicator (6 categories)': 'place_of_work_ind',
 'Religion (10 categories)': 'religion_tb'}

In [4]:
api.query_api('UR', 'living_arrangements_11a,occupation_current_105a', 'rgn')

,rgn,living_arrangements_11a,occupation_current_105a,count
0,North East,Does not apply,Does not apply,514772
1,North East,Does not apply,111 Chief executives and senior officials,9
2,North East,Does not apply,112 Production managers and directors,11
3,North East,Does not apply,113 Functional managers and directors,24
4,North East,Does not apply,"114 Directors in logistics, warehousing and tr...",0
...,...,...,...,...
11545,Wales,Not living in a couple: Widowed or surviving p...,922 Elementary cleaning occupations,1066
11546,Wales,Not living in a couple: Widowed or surviving p...,923 Elementary security occupations,255
11547,Wales,Not living in a couple: Widowed or surviving p...,924 Elementary sales occupations,52
11548,Wales,Not living in a couple: Widowed or surviving p...,925 Elementary storage occupations,150
11549,Wales,Not living in a couple: Widowed or surviving p...,926 Other elementary services occupations,462