In [1]:
from Census21_CACD_Wrapper import APIWrapper
from tqdm import tqdm

C:\Users\Cusse\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
api = APIWrapper(logger=False)

api.get_areas_by_pop_type('UR')

{'England and Wales': 'nat',
 'Countries': 'ctry',
 'Regions': 'rgn',
 'Local enterprise partnerships': 'lep',
 'NHS England regions': 'nhser',
 'Local health boards': 'lhb',
 'Integrated care boards': 'icb',
 'Sub integrated care board locations': 'sicbl',
 '2023 Upper tier local authorities': 'utla23',
 'Upper tier local authorities': 'utla',
 '2023 Lower tier local authorities': 'ltla23',
 'Lower tier local authorities': 'ltla',
 'Senedd constituencies': 'senc',
 'Westminster Parliamentary constituencies': 'wpc',
 'Electoral wards and divisions': 'wd',
 'Middle layer Super Output Areas': 'msoa',
 'Lower layer Super Output Areas': 'lsoa',
 'Output Areas': 'oa'}

In [3]:
api.get_dims_by_pop_type('UR')

{'Economic activity status last week (8 categories)': 'activity_last_week',
 'Age of arrival in the UK (23 categories)': 'age_arrival_uk_23a',
 'Second address indicator (3 categories)': 'alternative_address_indicator',
 'Country of birth (extended) (190 categories)': 'country_of_birth_190a',
 'Country of birth (60 categories)': 'country_of_birth_60a',
 'Disability (5 categories)': 'disability',
 'Economic activity status (12 categories)': 'economic_activity_status_12a',
 'Proficiency in English language (6 categories)': 'english_proficiency',
 'Ethnic group (20 categories)': 'ethnic_group_tb_20b',
 'Employment history (4 categories)': 'has_ever_worked',
 'General health (6 categories)': 'health_in_general',
 'Highest level of qualification (8 categories)': 'highest_qualification',
 'Hours worked (5 categories)': 'hours_per_week_worked',
 'Industry (current) (88 categories)': 'industry_current_88a',
 'Industry (former) (17 categories)': 'industry_former_17a',
 'Unpaid care (7 categories)': 'is_carer',
 'Marital and civil partnership status (12 categories)': 'legal_partnership_status',
 'Living arrangements (11 categories)': 'living_arrangements_11a',
 'Main language (23 categories)': 'main_language_23a',
 'Main language (detailed) (26 categories)': 'main_language_detailed_26a',
 'Migrant indicator (5 categories)': 'migrant_ind',
 'Multiple passports held (24 categories)': 'multi_passports',
 'National identity (17 categories)': 'national_identity_all',
 'National identity (detailed) (73 categories)': 'national_identity_detailed',
 'National Statistics Socio-economic Classification (NS-SeC) (17 categories)': 'ns_sec',
 'Occupation (current) (105 categories)': 'occupation_current_105a',
 'Occupation (former) (11 categories)': 'occupation_former',
 'Passports held (52 categories)': 'passports_all_52a',
 'Place of work indicator (6 categories)': 'place_of_work_ind',
 'Religion (10 categories)': 'religion_tb'}

In [4]:
res = api.query_api('UR', f'activity_last_week,has_ever_worked', f'msoa')

res

,msoa,msoa_id,activity_last_week,activity_last_week_id,has_ever_worked,has_ever_worked_id,count
0,City of London 001,E02000001,Does not apply,-8,Does not apply,-8,579
1,City of London 001,E02000001,Does not apply,-8,Not in employment: Worked in the last 12 months,1,0
2,City of London 001,E02000001,Does not apply,-8,Not in employment: Not worked in the last 12 m...,2,0
3,City of London 001,E02000001,Does not apply,-8,Not in employment: Never worked,3,0
4,City of London 001,E02000001,Working,1,Does not apply,-8,5351
...,...,...,...,...,...,...,...
232443,Swansea 032,W02000428,Economically inactive: Looking after home/family,6,Not in employment: Never worked,3,39
232444,Swansea 032,W02000428,Economically inactive: Other,7,Does not apply,-8,0
232445,Swansea 032,W02000428,Economically inactive: Other,7,Not in employment: Worked in the last 12 months,1,67
232446,Swansea 032,W02000428,Economically inactive: Other,7,Not in employment: Not worked in the last 12 m...,2,67
232447,Swansea 032,W02000428,Economically inactive: Other,7,Not in employment: Never worked,3,27

In [7]:
api.get_summary_by_dimensions()['activity_last_week_normalised']

                                                      count
activity_last_week
Does not apply                                     0.185094
Economically inactive: Long-term sick or disabled  0.033988
Economically inactive: Looking after home/family   0.038882
Economically inactive: Other                       0.025506
Economically inactive: Retired                     0.176414
Economically inactive: Student                     0.045986
Unemployed                                         0.028109
Working                                            0.466022

In [6]:
api.get_summary_by_area()

{'msoa':           count
 msoa
 Adur 001   9097
 Adur 002   7361
 Adur 003   7499
 Adur 004  10531
 Adur 005   9260
 ...         ...
 York 020   6579
 York 021   7758
 York 022   9267
 York 023  10541
 York 024   8284

 [7264 rows x 1 columns],
 'msoa_normalised':              count
 msoa
 Adur 001  0.000153
 Adur 002  0.000124
 Adur 003  0.000126
 Adur 004  0.000177
 Adur 005  0.000155
 ...            ...
 York 020  0.000110
 York 021  0.000130
 York 022  0.000155
 York 023  0.000177
 York 024  0.000139

 [7264 rows x 1 columns]}